
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #FFF;
  background-color: #000;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.container {
  max-width: 98%;
  margin: auto;
  padding: 3px;
  border: none;
  border-radius: 0px;
  background-color: #000;
}
.top {
  margin: -3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#decentralized-launchpad-top {
  cursor: pointer;
  color: #FFF;
}

.dev-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80%;
  margin-right: 25%;
}
#search-icon {
  margin-top: 25px;
  font-size: 20px;
  cursor: pointer;
}

#wallet-icon {
  margin-top: 25px;
  font-size: 20px;
  cursor: pointer;
}
#hr1 {
  border: 1px solid #8C8C8C;
  outline: none;
}
.center {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
#validate {
  font-size: 2.7rem;
  font-weight: 900;
}
#open-decentralized {
  font-size: 1.2rem;
  font-weight: 500;
  color: #F8F8FA;
}
.buttons {
  margin: 0 auto;
  padding: 3px;
  width: 60%;
}
.button {
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 35px;
  font-weight: bold;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: #000;
  cursor: pointer;
}
.button:hover {
  color: blue;
  background-color: #FFF;
}
.buttons-image {
  width: 20px;
  height: 20px;
}
.connect-steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -3px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
  background-color: #F8F8F8;
}
.select-your-wallet {
  width: 25%;
  text-align: center;
}
#select-your-wallet-img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
#select-your-wallet-p {
  margin-top: -10px;
  font-weight: 100;
  color: #8C8C8C;
}

.validate-your-wallet {
  width: 25%;
  text-align: center;
}
#validate-your-wallet-img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
#validate-your-wallet-p {
  margin-top: -10px;
  font-weight: 100;
  color: #8C8C8C;
}

.generate-qr-code {
  width: 25%;
  text-align: center;
}
#generate-qr-code-img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
#generate-qr-code-p {
  margin-top: -10px;
  font-weight: 100;
  color: #8C8C8C;
}

.save-wallet-qr {
  width: 22%;
  text-align: center;
}
#save-wallet-qr-img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
#save-wallet-qr-p {
  margin-top: -10px;
  font-weight: 100;
  color: #8C8C8C;
}
.select-your-wallet:hover, .validate-your-wallet:hover, .generate-qr-code:hover, .save-wallet-qr:hover {
  color: blue;
  cursor: pointer;
}


.bottom {
  display: block;
  margin: -3px;
  background-color: #FFF;
}
.decentralized-launchpad {
  margin-left: 15px;
}
#decentralized-launchpad {
  color: #6200EE;
}
#decentralized-launchpad:hover {
  color: #6200EE;
}
#decentralized-protocol {
  width: 90%;
  font-size: 1rem;
  color: #000;
}
.subscribe {
  margin-left: 15px;
}
#subscribe {
  color: #000;
}
#subscribe-mail {
  border-radius: 0 10px 10px 0;
  margin-left: -4px;
  height: 52px;
  border: none;
  font-weight: bold;
  background-color: transparent;
  color: #FFF;
  background-color: #5143FB;
  cursor: pointer;
}
#subscribe-mail:hover {
  background-color: #6200EE;
}
button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
#email {
  width: 200px;
  padding: 17px;
  border-radius: 10px 0 0 10px;
  border: 1px solid grey;
  background-color: #f8f8f8;
}
#Send-Icon {
  margin-top: 5px;
  width: 40px;
  height: 40px;
}
.row1 {
  display: flex;
  flex-direction: row;
}
#invalid-email {
  display: none;
  margin-left: 3px;
  margin-bottom: -5px;
  font-size: 12px;
  color: red;
}


/* Laptop */
@media (min-width: 600px) {
#decentralized-launchpad {
  width: 20%;
}
#decentralized-protocol {
  width: 21%;
}
.subscribe {
  margin-top: -250px;
  margin-left: 400px;
}
.select-your-wallet, .validate-your-wallet, .generate-qr-code, .save-wallet-qr {
  margin: 0 auto;
  width: 90%;
}
}

.decentralized-launchpad-fixed {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 0;
  height: 50px;
  z-index: 1000;
  color: #fff;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to right, #211C82, #4D1E87, #6D1F8A, #87208D);
display: flex;
flex-direction: row;
justify-content: space-between;
}

.dev-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80%;
  margin-right: 10%;
}
#search-icon {
  margin-top: 25px;
  font-size: 20px;
  cursor: pointer;
}
#wallet-icon {
  margin-top: 25px;
  font-size: 20px;
  cursor: pointer;
}


.to-top {
  position: fixed;
  display: none;
  bottom: 10px;
  right: 30px;
  text-align: right;
  cursor: pointer;
  z-index: 1000;
}
#to-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  background-color: transparent;
  color: #FFF;
  background-color: #5143FB;
}
#to-top:hover {
  background-color: #6200EE;
  cursor: pointer;
}



/* Medium screens */
@media (max-width: 1024px) {
#validate {
  font-size: 2rem;
  font-weight: 900;
}
#open-decentralized {
  font-size: 1rem;
  font-weight: 500;
  color: #F8F8FA;
}
.center {
  margin: 0 auto;
  text-align: center;
  width: 40%;
}
.buttons {
  margin: 0 auto;
  padding: 3px;
  width: 100%;
}
.button {
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 15px;
  font-size: 1rem;
  border-radius: 35px;
  font-weight: bold;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: #000;
  cursor: pointer;
}
.connect-steps {
  display: flex;
  flex-direction: row;
  margin: -3px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  color: #000;
  background-color: #F8F8F8;
}
.select-your-wallet, .validate-your-wallet, .generate-qr-code, .save-wallet-qr {
  margin: 0 auto;
  width: 90%;
}
}

/* Small Screens */
@media (max-width: 600px) {
#validate {
  font-size: 2rem;
  font-weight: 900;
}
#open-decentralized {
  font-size: 1rem;
  font-weight: 500;
  color: #F8F8FA;
}
.center {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
.buttons {
  margin: 0 auto;
  padding: 3px;
  width: 100%;
}
.button {
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 15px;
  font-size: 1rem;
  border-radius: 35px;
  font-weight: bold;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: #000;
  cursor: pointer;
}
.connect-steps {
  display: flex;
  flex-direction: column;
  margin: -3px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid orange;
  color: #000;
  background-color: #F8F8F8;
}
.select-your-wallet, .validate-your-wallet, .generate-qr-code, .save-wallet-qr {
  width: 100%;
}
}


